{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <header>
      <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}">
          {{ title (i18n (lower .Title)) | default .Title }}
        </a>
      </h1>
    </header>
    {{ .Content }}
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    <div id="cards">
      {{- range .Paginator.Pages -}}
        <a href="{{ .Permalink | safeURL }}" class="card">
          <div class="card-content">
            <h3 class="project-title">{{ .Title }}</h3>
            {{ with .Params.image }}
              <img src="{{ . | relURL }}" alt="{{ $.Title }}" class="project-image">
            {{ end }}
            {{ with .Params.description }}
              <h4 class="project-description">{{ . }}</h4>
            {{ end }}
          </div>
        </a>
      {{- end -}}
    </div>

    {{ partial "pagination.html" . }}
  </section>
  
{{ end }}