/* Default (Light) Mode */
body.colorscheme-light {
  --description-color: #242424;
  --border-color: #242424;
  --card-bg: rgba(33, 33, 33, 0.15);
  --card-content-bg: #fafafa;
  --hover-color: rgba(35, 35, 35, 0.06);
  --hover-color-light: rgba(35, 35, 35, 0.4);
}

/* Dark Mode */
body.colorscheme-dark {
  --description-color: #bfbfbf;
  --border-color: #ddd;
  --card-bg: rgba(250, 250, 250, 0.15);
  --card-content-bg: #212121;
  --hover-color: rgba(255, 255, 255, 0.06);
  --hover-color-light: rgba(255, 255, 255, 0.4);
}

/* Project Box Styles */
#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: var(--card-bg);
  border-radius: 10px;
  width: calc(50% - 10px);
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  position: relative;
  padding: 1px;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    var(--hover-color),
    transparent 40%
  );
  z-index: 3;
}

.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    var(--hover-color-light),
    transparent 40%
  );
  z-index: 1;
}

.card:hover::before {
  opacity: 1;
}

.card > .card-content {
  background-color: var(--card-content-bg);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1px;
  padding: 10px;
  position: relative;
  z-index: 2;
  width: calc(100% - 2px);
}

/* Remove text decoration from the entire card on hover */
.card:hover {
  text-decoration: none;
}

/* Add underline and change color of the title on hover */
.card:hover .project-title {
  text-decoration: underline;
  color: #5da1ec;
}

/* Ensure no text decoration on the description */
.card .project-description,
.card:hover .project-description {
  text-decoration: none !important;
}

/* Additional rule to override any conflicting styles */
.card a,
.card a:hover,
.card a:focus,
.card a:active {
  text-decoration: inherit;
}

.card-content {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.project-title {
  font-size: 1.4em;
  margin: 0 0 10px 0;
  transition: color 0.4s ease;
}

.project-image {
  max-width: 100%;
  height: auto;
}

.project-description {
  font-size: 0.9em;
  color: var(--description-color);
  margin-top: 5px;
  margin-bottom: auto;
}

/* Media query for narrow screens */
@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}